node-options=--no-deprecation
save-exact=true
package-lock=false
fund=false
audit=false
update-notifier=false
auto-install-peers=true
legacy-peer-deps=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000 